body { 
    background-color: pink;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    } 

img { 
   
    width: 500px;   
    border: solid white;    
    opacity: 80%;
   }
#pic {
    display: flex;
    justify-content: center;
}
h1 {
    color: #231F20;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 20px;

}

h2 {
color: black;
font-family: Arial, Helvetica, sans-serif;
font-weight: larger;
border: solid 1px;
padding: 20px;
background-color: white;
}

h3 { 
list-style-type:square;
color:#231F20; 
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
background-color: white;
padding: 10%;
    width: 15%;
    }

ul { 
    list-style-type: square;
    display: block;
    background-color: white;
    width: 32%;
    padding: 20px
 }

.cas {
    font-size:  50px;
    font-weight: bold;
   color: aliceblue ; 
}
 .html { 
    font: size 40px;
    font-weight: bold;
   color:hotpink;
}

 div {
    border:  2px solid black;   
    padding: 10px; 
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    } 
   

    table { 
        border-spacing: 2px;
        margin: 20px;
        border-bottom: 10px;
        font-size: 20px; 
    }

   td { 
    border: 3px solid #A8CCC9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

   h4 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 5px;
  
}
    .styles { font-size: 30px;
    color:hotpink;   
}

ol 
{
    color: black;
    font-size: 30px;
    background-color: white;
    font-display: auto;
    margin: 20px;
    padding: 100px;
}

p { 
    color: #231F20;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    display: block;
}

span { 
    font-size: 30px;
color: #f70e82;
}

#CSS { 
font-size: 30px;
color: rgb(117, 168, 35);
background-image: url(../images/flowers.jpg.webp);
border: solid black 1px; 
padding: 200px;

border-radius: 50%;
}
em {
color: orangered;
font-size: 30px;
}
footer {
    padding: 20px;
    border: solid 1px #231F20;
text-align: center;
font-size: larger;
color: white;
background-color: #231F20;
}

@media (max-width 915px) and (min-width 500px)     {
 